<div class="contact-view">
    <h2>Datos de Contacto</h2>
    <div class="contact-details">
      <img src="assets/foto-perfil.PNG" alt="Foto de Perfil" class="profile-picture">
      <div class="details">
        <p><strong>Nombre:</strong> {{ nombre }}</p>
        <p><strong>Apellido:</strong> {{ apellido }}</p>
        <p><strong>Correo:</strong> {{ correo }}</p>
        <p><strong>Teléfono:</strong> {{ telefono }}</p>
        <!-- Agrega más detalles de contacto según tus necesidades -->
      </div>
    </div>
  </div>
  
  
