<footer class="footer">
    <div class="footer-content">
        <div><span class="footer-text">© Jesus Saltos</span></div>
      
      <div class="social-icons">
        <a href="https://github.com/Jesalt1" target="_blank">
          <img src="assets/github.png" alt="GitHub Logo" class="social-icon">
        </a>
        <a href="https://www.instagram.com/_jesalt/" target="_blank">
          <img src="assets/ig.png" alt="Instagram Logo" class="social-icon">
        </a>
      </div>
    </div>
  </footer>
  